/*verde hito #7ebe13*/
/*
header, main, footer {
	padding-left: 100px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}*/
.background img {
  width: 8em;
}
.logo-nav{
	width: 3.4em;
}
.sidenav{
	width: 100px;
}
i.small {
    font-size: 3rem;
}
.kpi-xl{
	height: 600px;
}
.kpi-l{
	height: 500px;
}
.kpi-m{
	height: 400px;
}
.kpi-s{
	height: 300px;
}
.kpi-xs{
	height: 300px;
}
.kpi-xs-matriz{
	height: 50px;
}
.kpi-xs-home{
	height: 25px;
}
/*
@media only screen and (min-width: 601px)
main >.container, body>.page-footer>.container, .top-nav>.container, #index-banner>.container {
    width: 90%;
}
@media only screen and (min-width: 993px)
.container {
    width: 70%;
}
@media only screen and (min-width: 601px)
.container {
    width: 85%;
}
.container {
    margin: 0 auto;
    max-width: 1920px;
    width: 95%;
}
.card .card-action {
	padding: 5px 5px;
}
*/
/*
.qvplaceholder, .qvobject {
height: 300px;
}
*/